*{margin: 0;padding: 0;}

div#wrrap{
	width: 1000px;
	margin: 0 auto;
}
ul,li{list-style: none}

div#header{
	width:100%;
	height: 150px;
	line-height: 150px;
	background-color: #11ffaa;
}

div#content{
	overflow: hidden;
	width:100%;
	margin: 20px 0;
}

div#paging{
	margin-top: 20px;
}

#rows{
	border: 1px solid #ccc;
}

#rows a{
	float: right;
	text-decoration: none;
}

#rows a:hover{
	color: red;
}
#rows li{
	padding:5px 10px;
	border-bottom: 1px solid #999;
}

#pages{
	margin-top: 10px;
	float: right;

}

#pages li input{
	width:40px;
	text-align: center;
	border:none;
}
#pages li{
	border:1px solid #ccc;
	display:inline;
	margin: 0px 2px;
}

#pages li.pageInfo{
	border: none;

}

#pages li.goPrevious,#pages li.goNext{
	padding: 1px 5px;
	cursor: pointer;
}
#pages li.goPrevious:hover,#pages li.goNext:hover{
	background-color: #11ffaa;
}



div#left{
	float:left;
	width:75%;
}

div#right{
	float: right;
	border-left: 2px solid #ccc;
	padding-left: 20px;
	width:20%;
}


div#footer{
	width:100%;
	height: 150px;
	background-color: blue;
}